USE [master]
GO
/****** Object:  Database [WebAPI]    Script Date: 03.02.2021 10:46:05 ******/
CREATE DATABASE [WebAPI]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WebAPI', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\WebAPI.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WebAPI_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\WebAPI_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WebAPI].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WebAPI]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 03.02.2021 10:46:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](25) NOT NULL,
	[LastName] [varchar](25) NOT NULL,
	[Rate] [int] NOT NULL,
	[Discriminator] [varchar](25) NOT NULL,
 CONSTRAINT [PK__Employee__3214EC2733BAF2F6] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[GetEmployeeByName]    Script Date: 03.02.2021 10:46:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetEmployeeByName]
	@name VARCHAR(25)
AS
	SELECT * FROM [dbo].[Employees] e WHERE e.FirstName like @name +'%'
GO
USE [master]
GO
